body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 229, 255);
    margin: 0;
    padding: 0;
    color: rgb(36, 55, 194);
}
header {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h1{
    font-size: 15px;
    margin: auto;
}
.content{
    padding: 25px;
    margin: 10px 10px 10px 10px;
}
.biography{
    background-color: #e47ae3;
    border-color: #34adc0;
    border-radius: 30px;
    padding: 15px;
    box-shadow: #fff;

}
.img{
    height: 200px;
    width: 150px;
    box-shadow: 5vh;
    border-color: #34adc0;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #e47ae3;
    
    position: center;
    bottom: 0;


}
.Achievments ul{
    list-style-type: circle;
    padding-left: 20px;

}